<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - AI Products Website</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="brand">
          <a href="/">Pet Translator</a>
        </div>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    <header>
      <h1>About AI-Pet Translator</h1>
    </header>

    <main>
      <!-- Display total users information dynamically -->
      <section>
        <h2>Total Users:</h2>
        <p><%= totalUsers %></p>
      </section>
      <section>
        <h2>Features:</h2>
        <ul>
          <li>
            Emotion Recognition: Analyzes vocal patterns and body language to
            accurately interpret your pet's mood.
          </li>
          <li>
            Behavioral Analysis: Provides insights into your pet's habits,
            preferences, and secret aspirations.
          </li>
          <li>
            Customizable Voice Modulation: Allows you to choose from a range of
            voices to match your pet's personality, from suave and sophisticated
            to goofy and playful.
          </li>
        </ul>
      </section>

      <section>
        <h2>Description:</h2>
        <p>
          The AI-Pet Translator is a revolutionary device that allows pet owners
          to understand their pets like never before. By leveraging the power of
          artificial intelligence, it deciphers your pet's vocalizations and
          body language, giving you insights into their emotions, behaviors, and
          desires.
        </p>
        <p>
          With its advanced features and customizable voice modulation, the
          AI-Pet Translator offers a unique way to connect with your furry
          friends on a deeper level. Say goodbye to guessing what your pet wants
          and hello to meaningful conversations!
        </p>
      </section>
    </main>
  </body>
</html>
